asgiref==3.2.10
attrs==20.2.0
boto3==1.15.1
botocore==1.18.1
certifi==2020.6.20
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
culqi==1.0.0
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.1.1
django-allauth==0.42.0
django-environ==0.4.5
django-filter==2.3.0
django-heroku==0.3.1django-reset-migrations==0.4.0django-rest-auth==0.9.5django-rest-swagger==2.2.0django-s3direct==1.1.8django-storages==1.10.1djangorestframework==3.11.1djangorestframework-jwt==1.11.0drf-yasg==1.17.1gunicorn==20.0.4idna==2.10importlib-metadata==1.7.0inflection==0.5.1itypes==1.2.0Jinja2==2.11.2jmespath==0.10.0jsonschema==3.2.0MarkupSafe==1.1.1oauthlib==3.1.0openapi-codec==1.3.2packaging==20.4psycopg2==2.8.6PyJWT==1.7.1pyparsing==2.4.7pyrsistent==0.17.3python-dateutil==2.8.1python3-openid==3.2.0pytz==2020.1requests==2.24.0requests-oauthlib==1.3.0ruamel.yaml==0.16.12ruamel.yaml.clib==0.2.2s3transfer==0.3.3simplejson==3.17.2six==1.15.0sqlparse==0.3.1uritemplate==3.0.1urllib3==1.25.10
whitenoise==5.2.0zipp==3.1.0
